:root {
    --primary-color: #4a90e2; /* Bleu gris */
    --secondary-color: #d3d3d3; /* Gris clair */
    --accent-color: #2ecc71; /* Menthe douce */
    --background-color: #f7f7f7; /* Blanc cassé */
    --text-color: #333333; /* Gris anthracite */
    --light-text-color: #ffffff; /* Texte blanc */
}

/* Style général */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: var(--primary-color);
    padding: 15px 0;
    position: relative;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    height: 60px;
}

.toggle-menu {
    display: none;
    cursor: pointer;
    color: var(--light-text-color);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: var(--light-text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent-color);
}

/* Sous-menus cachés par défaut */
.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Affichage du sous-menu au survol pour les grands écrans */
.nav-links li:hover > .dropdown-menu {
    display: flex;
}

/* Menu hamburger (petites dimensions) */
@media (max-width: 1024px) {
    .navbar .container {
        flex-direction: column;
    }

    .toggle-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 900;
        font-size: 23px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary-color);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1999;
        overflow-y: auto;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .nav-links.active {
        transform: translateX(0);
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .nav-links a {
        padding: 15px;
        display: block;
        color: var(--light-text-color);
        font-size: large;
    }

    .dropdown-menu {
        display: none;
        position: relative;
        box-shadow: none;
        padding-left: 20px; /* Indentation pour le sous-menu */
    }

    .nav-links li.active > .dropdown-menu {
        display: flex;
    }

    .nav-links li.active > a {
        background-color: var(--secondary-color); /* Changer la couleur de fond du lien actif */
        color: var(--primary-color);
    }
}
